<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivus Co</title>
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/"><img th:src="@{/LOGO.png}" alt="Cultivus Co"></a>
            <span>Cultivus Co</span>
        </div>

        <nav class="nav">
            <ul class="nav-links">
                <li>
                    <a th:href="@{/product}">
                        <img th:src="@{/shopping-bag.svg}" alt="Productos">
                        <span>Productos</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/productores}">
                        <img th:src="@{/salad.svg}" alt="Productores">
                        <span>Productores</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/carrito}">
                        <img th:src="@{/shopping-cart.svg}" alt="Carrito">
                        <span>Carrito</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/login}">
                        <img th:src="@{/user.svg}" alt="Usuario">
                        <span>Mi Cuenta</span>
                    </a>
                </li>

            </ul>
        </nav>
    </header>



    </div>

    <section id="hero">
        <div class="slider-container">
            <div class="carousel">

                <div class="slide">
                    <img th:src="@{/Imegen 1.jpg}" alt="Imagen 1">
                    <div class="overlay"></div>
                    <div class="text-content">
                        <h1 class="animated-text">Cultivus Co</h1>
                        <p class="animated-subtext">Conectamos el campo con tu mesa 🌾</p>
                    </div>
                </div>

                <div class="slide">
                    <img th:src="@{/Imagen 2.jpg}" alt="Imagen 2">
                    <div class="overlay"></div>
                    <div class="text-content">
                        <h1 class="animated-text">Productos Frescos</h1>
                        <p class="animated-subtext">Del productor directamente a tu hogar 🍅</p>
                    </div>
                </div>

                <div class="slide">
                    <img th:src="@{/Imagen 3.jpg}" alt="Imagen 3">
                    <div class="overlay"></div>
                    <div class="text-content">
                        <h1 class="animated-text">Agricultura Sostenible</h1>
                        <p class="animated-subtext">Cuidando la tierra, cuidamos el futuro 🌱</p>
                    </div>
                </div>

                <div class="slide">
                    <img th:src="@{/Imagen 4.jpg}" alt="Imagen 4">
                    <div class="overlay"></div>
                    <div class="text-content">
                        <h1 class="animated-text">Nuestras Raíces</h1>
                        <p class="animated-subtext">Impulsa el trabajo campesino 💚</p>
                    </div>
                </div>

            </div>

            <div class="buscardor">
                <form>
                    <input type="search" placeholder="¿Qué buscas?...">
                    <button type="submit" class="buscardor-boton">Buscar</button>
                </form>
            </div>
        </div>
    </section>


</body>

</html>