<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <header>
            <img src="" alt="">
            <div class="nav">
                <nav>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Productores</a></li>
                    <li><a href="#">Ingresar / Registrarse.</a></li>
                </nav>
            </div>
        </header>
    </div>
</body>

</html>