<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultivus Co</title>
    <link rel="stylesheet" href="/src/main/resources/static/style.css">
</head>

<body>
    <div class="header">
        <header>
            <img src="/src/main/resources/image/Gemini_Generated_Image_6ixfc6ixfc6ixfc6.png" alt="Cultivus Co">
            <div class="nav">
                <nav>
                    <div class="search">
                        <input type="search" id="search" placeholder="Buscar productos..." />
                        <button>Buscar</button>
                    </div>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Productores</a></li>
                    <li><a href="#">Ingresar / Registrarse.</a></li>
                </nav>
            </div>
        </header>
    </div>
</body>

</html>