<header th:fragment="siteHeader">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <div class="top-bar">
        <p>Cobertura Toda Colombia. Pedido mínimo $200.000</p>
    </div>

    <div class="main-header">
        <div class="header-container">
            <div class="logo">
                <a th:href="@{/}">
                    <img th:src="@{/images/isotipoWhite.png}" alt="Logo">
                </a>
            </div>

            <nav class="nav-links">
                <ul>
                    <li><a th:href="@{/vendedor/inicio}">
                        <i class="fa-solid fa-home"></i> Inicio
                    </a></li>
                    
                    <li><a th:href="@{/vendedor/productos/nuevo}">
                        <i class="fa-solid fa-plus-circle"></i> Agregar Producto
                    </a></li>
                    
                    <li><a th:href="@{/vendedor/Miproductos}">
                        <i class="fa-solid fa-box"></i> Mis Productos
                    </a></li>
                    
                    <li><a th:href="@{/vendedor/ventas}">
                        <i class="fa-solid fa-chart-line"></i> Mis Ventas
                    </a></li>

                    <li><a th:href="@{/usuario/logout}">
                        <i class="fa-solid fa-sign-out-alt"></i> Cerrar Sesión
                    </a></li>
                    
                </ul>
            </nav>
        </div>
    </div>
</header>